html {
  height: 100%
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', Light;
}

input {
  width: 40%;
}

.header-text {
  font-family: 'Open Sans', Bold;
  color: #E9E9F3
}
.left-grid {
  background-color: #1F1F3D;
  width: 25%;
  height: 100%;
  position: fixed;
}

.top-grid {
  background-color: #A9AAD2;
  height: 45%;
  margin-left: 25%;
  text-align: center;

}

.bottom-grid {
  background-color: #EAEAF4;
}

.box {
  border-color: #1F1F3D;
  border-width: 1px;
}

.body-box {
  height: 60px;
}

.title-box {
  height: 25px;
}

.button {
  background-color: #1F1F3D;
  border-color: #1F1F3D;
  border-width: 1px;
  color: #E9E9F3;
}

.save-button {
  width: 40%;
  height: 25px;
}

.search-button {
  height: 25px;
  width: 25px;
  margin: 0;
}

.search-width {
  width:38%;
  margin: 0;
}

.search-align {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
